{% extends "base.html" %} {% block title %}Glass Mirror{% endblock %}

{% block content %}
<!-- Page content-->
<!-- Hero-->
<section class="d-flex min-vh-100 pt-lg-6 pt-5 bg-dark jarallax" data-jarallax data-speed="0.8">
  <div class="container d-flex flex-column justify-content-lg-around justify-content-center py-5">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 order-lg-1 order-2 mx-auto text-lg-start text-center">
        <h1 class="display-3 mb-lg-5 pb-lg-3 text-light">
          Desenvolvemos os Melhores<span class="text-primary"> Websites, LojasVirtuais &amp; API's </span> para seu negócio.

        </h1>
        <a href="services-single.html" class="btn btn-outline-light btn-lg">Obtenha uma análise gratuita</a>
        <div class="d-sm-inline-block d-block mt-sm-0 mt-4 ms-sm-4 ps-lg-3 ps-sm-2">
          <a href="https://www.youtube.com/watch?v=qS1MkMt6hyw&ab_channel=Click2View" class="btn-video me-lg-3 me-2" data-gallery-video></a>
          <span class="fs-sm fw-bold text-light">Play video</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-10 order-lg-2 order-1 mx-auto mb-lg-0 mb-sm-5 mb-4">
        <div class="parallax mx-auto">
          <div class="parallax-layer" data-depth="0.05">
            <img src="/static/assets/img/seo-agency/home/hero/illustration/person.png" alt="Layer-1">
          </div>

          <div class="parallax-layer" data-depth="0.1">
            <img src="/static/assets/img/seo-agency/home/hero/illustration/computer.svg" alt="Layer-2">
          </div>

          <div class="parallax-layer" data-depth="0.15">
            <img src="/static/assets/img/seo-agency/home/hero/illustration/note.svg" alt="Layer-3">
          </div>

          <div class="parallax-layer" data-depth="0.2">
            <img src="/static/assets/img/seo-agency/home/hero/illustration/diargam-1.svg" alt="Layer-4">
          </div>

          <div class="parallax-layer" data-depth="0.6">
            <img src="/static/assets/img/seo-agency/home/hero/illustration/diargam-2.svg" alt="Layer-5">
          </div>

        </div>
      </div>
    </div>
    <div class="d-lg-flex d-none justify-content-between">
      <div class="d-flex align-items-center">
        <img src="/static/assets/img/seo-agency/home/hero/directions/01.svg" alt="SEO Content Strategy" class="me-3">
        <div class="ps-1">
          <h5 class="mb-0 text-light">Estratégia de conteúdo e Publicidade</h5>
        </div>
      </div>
      <span class="divider-vertical divider-light"></span>
      <div class="d-flex align-items-center">
        <img src="/static/assets/img/seo-agency/home/hero/directions/02.svg" alt="SEO Content Strategy" class="me-3">
        <div class="ps-1">
          <h5 class="mb-0 text-light">Marketing e Conteúdo</h5>
        </div>
      </div>
      <span class="divider-vertical divider-light"></span>
      <div class="d-flex align-items-center">
        <img src="/static/assets/img/seo-agency/home/hero/directions/03.svg" alt="SEO Content Strategy" class="me-3">
        <div class="ps-1">
          <h5 class="mb-0 text-light">LojaVirtual &amp; Mídia Social</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Parallax bg -->
  <div class="jarallax-img bg-repeat-0" style="background-image: url(/static/assets/img/seo-agency/home/hero/bg.jpg);"></div>
</section>


  <!-- Progress + Carousel -->
 <!-- Markets -->
      <section class="container py-lg-6 pt-5 pb-sm-5 pb-4">
        <h2 class="h1 mb-lg-5 pb-3 text-center">Nosso Menu de Serviço</h2>
        <div class="row justify-content-center g-0">
          <div class="col-lg-3 col-sm-6 col-11 mb-lg-0 mb-grid-gutter pb-lg-0 pb-2">
            <div class="text-center px-grid-gutter">
              <img class="mb-4" src="/static/assets/img/seo-agency/services/icons/01.svg" width="48" alt="Icon box image">
              <h3 class="h5 mb-2">E-commerce, Portal Institucional</h3>
              <p class="mb-0 text-muted">Com agilidade média de 8 dias, clique para ver os pacotes.</p>
            </div>
          </div>
          <span class="divider-vertical d-sm-block d-none"></span>
          <div class="col-lg-3 col-sm-6 col-11 mb-lg-0 mb-grid-gutter pb-lg-0 pb-2">
            <div class="text-center px-grid-gutter">
              <img class="mb-4" src="/static/assets/img/seo-agency/services/icons/02.svg" width="48" alt="Icon box image">
              <h3 class="h5 mb-2">Websites e APP's</h3>
              <p class="mb-0 text-muted">Com agilidade média de 8 dias, clique para ver os pacotes.</p>
            </div>
          </div>
          <span class="divider-vertical d-lg-block d-none"></span>
          <div class="col-lg-3 col-sm-6 col-11 mb-lg-0 mb-grid-gutter pb-lg-0 pb-2">
            <div class="text-center px-grid-gutter">
              <img class="mb-4" src="/static/assets/img/seo-agency/services/icons/03.svg" width="48" alt="Icon box image">
              <h3 class="h5 mb-2">B2B /B2C Services</h3>
              <p class="mb-0 text-muted">Somos os Melhores Intermediário para o seu negócio prosperara. Desde assistência de empresa para empresa, empresa para Cliente</p>
            </div>
          </div>
          <span class="divider-vertical d-sm-block d-none"></span>
          <div class="col-lg-3 col-sm-6 col-11 mb-lg-0 mb-grid-gutter pb-lg-0 pb-2">
            <div class="text-center px-grid-gutter">
              <img class="mb-4" src="/static/assets/img/seo-agency/services/icons/04.svg" width="48" alt="Icon box image">
              <h3 class="h5 mb-2">Startup Projects GlassMirror</h3>
              <p class="mb-0 text-muted">Rumo ao futuro EU SO 6G, Brevemente</p>
            </div>
          </div>
        </div>
      </section>

      {% for post in posts %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author_id }}</a>
                <small class="text-muted">{{ post.date_created }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.text }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
      {% endfor %}

         <!-- GlassMirrorShopping pages section-->
      <section class="bg-dark py-5">
        <div class="container py-3 py-lg-4">
          <h2 class="h12 mb-lg-5 pb-3 text-center">🛰Suporte Técnico👨‍💻💡 🔎IPHONE & ANDROID🔍</h2>
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-5 pb-4 pb-lg-0">
              <h2 class="text-light"><span class='fw-light'>🛠Resolvo Problema</span> Problema de ⚙Rede📡 no iPhone,<span class='fw-light'> Consulte Agora.</span></h2>
              <p class="text-light opacity-70">Nas versoes do Iphone 5s ate 13Pro <i class="fa fa-check-circle text-success me-2"></i></p>
              <ul class="text-light list-unstyled pt-3">
                <li><i class=""></i>________________MEID____________</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Rede✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Chamada✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Mensagem✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>FaceTime✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Nociticacoes✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Conta Nova Apple✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Calibragem da Bateria✅</li>
                <br><br>
                <!--GlassMirrorShopping continua GSM-->
                <li><i class=""></i>________________GSM____________</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Rede✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Chamada✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Mensagem✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>FaceTime✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Nociticacoes✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Conta Nova Apple✅</li>
                <li><i class="fa fa-check-circle text-success me-2"></i>Calibragem de Bateria✅</li>


              </ul>
            </div>
            <div class="col-lg-7 offset-xl-1"><img src="/static/assets/img/intro/pages-showcase.jpg" alt="Glass Mirror"></div>
          </div>
        </div>
      </section>

      <!-- Cartzill handheld toolbar-->


  <!-- Services -->
  <section class="container mt-md-4 pt-lg-6 pt-5 pb-4">
    <h2 class="h1 pb-3 text-center">Nossos serviços</h2>
    <div data-simplebar data-simplebar-auto-hide="false">
      <ul class="nav nav-tabs nav-fill flex-nowrap mb-3 text-nowrap" role="tablist">
        <li class="nav-item">
          <a href="index.html#social-media" class="nav-link " id="social-media-tab" data-bs-toggle="tab" role="tab" aria-controls="social-media" aria-selected="true">
            MARKETING DIGITAL
          </a>
        </li>
        <li class="nav-item">
          <a href="index.html#seo" class="nav-link" id="seo-tab" data-bs-toggle="tab" role="tab" aria-controls="seo" aria-selected="false">
            NETFLIX
          </a>
        </li>
        <li class="nav-item">
          <a href="/#research" class="nav-link active" id="research-tab" data-bs-toggle="tab" role="tab" aria-controls="research" aria-selected="false">
            ASSISTENCIA TECNICA E VENDAS
          </a>
        </li>
        <li class="nav-item">
          <a href="/index#content-pr" class="nav-link" id="content-pe-tab" data-bs-toggle="tab" role="tab" aria-controls="content-pr" aria-selected="false">
            JOGOS E CONSOLAS
          </a>
        </li>
        <li class="nav-item">
          <a href="/index#payed-traffic" class="nav-link" id="payed-traffic-tab" data-bs-toggle="tab" role="tab" aria-controls="payed-traffic" aria-selected="false">
            REALIZACAO DE EVENTOS
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content mt-md-4 mt-3 pt-3">
      <div class="tab-pane fade" id="social-media" role="tabpanel" aria-labelledby="social-media-tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-md-0 mb-grid-gutter">
            <h3 class="h2 mb-md-4 mb-3">Promoção Segura nas Redes Sociais</h3>
            <ul class="list-unstyled mb-md-5 mb-4">
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                IDENTIDADE VISUAL(Logotipos).
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                desiger Grafico.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Pesquisa estratégica e de marketing tático.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Fluxo de trabalho de SEO escalável para qualquer Website.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Fontes de tráfego pagas para promover seu site.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                PR e Marketing de Conteúdo.
              </li>
            </ul>
            <a href="" class="btn btn-primary">Ver Mais</a>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-10 ms-auto me-md-0 mx-auto">
            <img src="/static/images/marketingf.jpg" alt="Service 1">
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-md-0 mb-grid-gutter">
            <h3 class="h2 mb-md-4 mb-3">Filmes ilimitados, programas de TV e muito mais</h3>
            <ul class="list-unstyled mb-md-5 mb-4">
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Assista em qualquer lugar. Cancele a qualquer hora.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Assista em Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players e muito mais.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Baixe seus shows para assistir offline. Salve seus favoritos facilmente e sempre tenha algo para assistir.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Assista em todo lugar.Transmita filmes e programas de TV ilimitados no seu telefone, tablet, laptop e TV.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Crie perfis para crianças. Envie crianças em aventuras com seus personagens favoritos em um espaço feito apenas para eles — livre com sua adesão.
              </li>
            </ul>
            <a href="" class="btn btn-primary">Ver Mais</a>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-10 ms-auto me-md-0 mx-auto">
            <img src="https://assets.nflxext.com/ffe/siteui/vlv3/970e664f-2df4-47ce-b4fa-446082f5abc1/95a1499b-208f-491e-9b77-e3da7808f27e/AO-en-20220523-popsignuptwoweeks-perspective_alpha_website_large.jpg" alt="Service 2">
          </div>
        </div>
      </div>

      <div class="tab-pane fade  show active" id="research" role="tabpanel" aria-labelledby="research-tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-md-0 mb-grid-gutter">
            <h3 class="h2 mb-md-4 mb-3">Tira-se Codigo no iPHONE & ANDROID</h3>
            <ul class="list-unstyled mb-md-5 mb-4">
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Reparação de problema de Rede.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Placas, Baterias, Capas, Peliculas, Anti-Chocks, Carregadores de Origem.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Troca de Visor.
              </li>
            </ul>
            <a href="" class="btn btn-primary">Ver Mais</a>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-10 ms-auto me-md-0 mx-auto">
            <img src="/static/images/th-1865345360.jpg" alt="Service 3">
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="content-pr" role="tabpanel" aria-labelledby="content-pe-tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-md-0 mb-grid-gutter">
            <h3 class="h2 mb-md-4 mb-3">Crackea-se Todo tipo Consulas</h3>
            <ul class="list-unstyled mb-md-5 mb-4">
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos todo tipo de Jogos.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos a Venda Consulas desde PS2 a PS5.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos a Venda Consulas desde Xbox a xBOX-ONE-x.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos a Venda Projetoras.
              </li>
            </ul>
            <a href="" class="btn btn-primary">Ver Mais</a>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-10 ms-auto me-md-0 mx-auto">
            <img src="/static/images/CallofDutyBlackOpsCold.jpg" alt="Service 4">
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="payed-traffic" role="tabpanel" aria-labelledby="payed-traffic-tab">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-md-0 mb-grid-gutter">
            <h3 class="h2 mb-md-4 mb-3">Realiza-mos Todo de Eventos</h3>
            <ul class="list-unstyled mb-md-5 mb-4">
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos Fotograficos Para aqualquer eventos.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Temos eventos filantropico, Shows benefícientes.
              </li>
              <li class="d-flex mb-2 pb-1">
                <i class="ci-checkmark mt-1 me-3 text-primary"></i>
                Tchilos Privados, Sentadas Pedidos e Casamentos.
              </li>
            </ul>
            <a href="" class="btn btn-primary">Ver Mais</a>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-10 ms-auto me-md-0 mx-auto">
            <img src="/static/images/RSJH0806.jpg" alt="Service 5">
          </div>
        </div>
      </div>

    </div>
  </section>


</div> <!-- / Shaped bg -->


<!-- Form seo analisys -->
<section class="mt-lg-6 mt-5 py-md-5 py-4 bg-dark bg-repeat-0 bg-position-bottom-end bg-size-contain" style="background-image: url(../assets/img/seo-agency/form-analysis/bg-shape.svg)">
  <div class="container py-4 text-light">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-10 mb-md-0 mb-sm-5 mb-4">
        <div class="parallax mx-auto">
          <div class="parallax-layer" data-depth="0.05"><img src="/static/assets/img/seo-agency/form-analysis/illustration/01.svg" alt="Layer-1"></div>
          <div class="parallax-layer" data-depth="0.1"><img src="/static/assets/img/seo-agency/form-analysis/illustration/02.svg" alt="Layer-2"></div>
          <div class="parallax-layer" data-depth="0.13"><img src="/static/assets/img/seo-agency/form-analysis/illustration/03.svg" alt="Layer-3"></div>
          <div class="parallax-layer" data-depth="0.16"><img src="/static/assets/img/seo-agency/form-analysis/illustration/04.svg" alt="Layer-4"></div>
          <div class="parallax-layer" data-depth="0.19"><img src="/static/assets/img/seo-agency/form-analysis/illustration/05.svg" alt="Layer-5"></div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-2 col-md-6 offset-md-1">
        <h2 class="h1 pb-md-3 text-light">Serviços Instalaçao e Manuteção</h2>

        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Infraestrutura de Redes.
        </li>
        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Segurança Electronica.
        </li>
        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Instalaçao de CAT TV.
        </li>
        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Instalaçao de Serviços De Telefonias.
        </li>
        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Instalaçao de Energia Electrica.
        </li>

        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Instalaçao de Instalaçao de antenas Ponto a Ponto e Multi Pontos.
        </li>

        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Configuracao de Servidores e roteadores.
        </li>

        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Reparação e Manuteção de todos Equipamento da CISCO.
        </li>

        <li class="d-flex mb-2 pb-1">
          <i class="ci-checkmark mt-1 me-3 text-primary"></i>
          Reparação e Manuteção de todos Equipamento Informático.
        </li>
          <a href="" class="btn btn-primary">Ver Mais</a>
      </div>
    </div>
  </div>
</section>


<!-- Asked questions -->
<section class="py-lg-6 py-5 bg-repeat-0 bg-position-center-top" style="background-image: url(/static/assets/img/seo-agency/asked-questions/bg-shape.svg)">
  <div class="container mt-md-4">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-7">
        <h2 class="h1 pb-md-3">Perguntas?</h2>

        <!-- Basic accordion -->
        <div class="accordion" id="accordionFaq">

          <!-- Item -->
          <div class="accordion-item mb-2">
            <h5 class="accordion-header" id="accordionFaqHeading-1">
              <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFaqCollapse-1" aria-expanded="true" aria-controls="accordionFaqCollapse-1">
                Para quem sao os serviços da Empresa Narcidi & GlassMirror?
              </button>
            </h5>
            <div class="accordion-collapse border-0 collapse show" id="accordionFaqCollapse-1" aria-labelledby="accordionFaqHeading-1" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                Os nossos serviços são para Empresas de Pequena, Média e Grande dimensão, que actuam nos mais diversos sectores de actividade comercial, industrial, Desenvolvemos Agricula, Energia Limpa, Petroleo, Minerais, Saude, Educacao, etc.
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-2">
            <h5 class="accordion-header" id="accordionFaqHeading-2">
              <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFaqCollapse-2" aria-expanded="false" aria-controls="accordionFaqCollapse-2">
                Quais servicos oferecem ao Mercado?
              </button>
            </h5>
            <div class="accordion-collapse border-0 collapse" id="accordionFaqCollapse-2" aria-labelledby="accordionFaqHeading-2" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                Oferecemos ao mercado serviços de Intermediário de Vendas, Desiger Grafico, marketing digital, Reparação de Computadores e impressoras, Reparação de iPhones, Hospedagem, Netflix, Jogos e Consolas, realizacao de eventos, Venda de Telefones, instacao de rede de Dados e Voz, Consultoria em Gestão Informática, Projetos e Suporte Técnico em Sistemas de Gestão e Factura do tipo ERP (Planejamento de Recursos Empresariais), como o Primavera e Cacimbo e software específico para restaurante, bar, café, pastelarias, padarias e outros.
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-2">
            <h5 class="accordion-header" id="accordionFaqHeading-3">
              <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFaqCollapse-3" aria-expanded="false" aria-controls="accordionFaqCollapse-3">
                Como posso adiquir os vossos servicos?
              </button>
            </h5>
            <div class="accordion-collapse border-0 collapse" id="accordionFaqCollapse-3" aria-labelledby="accordionFaqHeading-3" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                Basta ligar para um dos nossos contactos ou dirigir-se às nossas instalações, Talatona Bairro Militar rua da Chymak oficina.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-2">
            <h5 class="accordion-header" id="accordionFaqHeading-4">
              <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFaqCollapse-4" aria-expanded="false" aria-controls="accordionFaqCollapse-4">
                Como Comprar na Loja BazaRapido?
              </button>
            </h5>
            <div class="accordion-collapse border-0 collapse" id="accordionFaqCollapse-4" aria-labelledby="accordionFaqHeading-4" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                .
              </div>
            </div>
          </div>

          <div class="accordion-item mb-2">
            <h5 class="accordion-header" id="accordionFaqHeading-4">
              <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFaqCollapse-4" aria-expanded="false" aria-controls="accordionFaqCollapse-4">
                Quanto tempo leva a implementação de um projecto?
              </button>
            </h5>
            <div class="accordion-collapse border-0 collapse" id="accordionFaqCollapse-4" aria-labelledby="accordionFaqHeading-4" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                O tempo de implementação do projecto depende do tipo servico específicado por cada cliente.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-10 mt-md-0 mt-5">
        <div class="parallax mx-auto">
          <div class="parallax-layer" data-depth="0.05"><img src="/static/assets/img/seo-agency/asked-questions/illustration/01.png" alt="Layer-1"></div>
          <div class="parallax-layer" data-depth="0.1"><img src="/static/assets/img/seo-agency/asked-questions/illustration/02.svg" alt="Layer-2"></div>
          <div class="parallax-layer" data-depth="0.13"><img src="/static/assets/img/seo-agency/asked-questions/illustration/03.svg" alt="Layer-3"></div>
          <div class="parallax-layer" data-depth="0.16"><img src="/static/assets/img/seo-agency/asked-questions/illustration/04.svg" alt="Layer-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Awards -->
<section class="container pt-lg-6 pt-5 pb-lg-5 pb-4">
  <div class="row">
    <div class="col-lg-6 mb-lg-0 mb-sm-4 mb-3">
      <p class="h3 mb-md-0 mb-3 pb-md-0 pb-1 line-height-base">
        A Narcidi-Comercio & Servico, é uma agência de Tecnologias e
        marketing digital de serviço completo e tendo,
          Ajudamos as empresas a ganhar mais dinheiro através de uma
          riqueza de dados de desempenho e pesquisa de mercado.
          Criamos nossos proprios sistemas de softwares Gestao
          Comercial de todo tipo existente, Os nossos produtos sao um sucesso
        comprovado por nossos parceiros e clientes; Acima sao sitados os Nossos
       Sistemas + inteligentes e moderno do pais.</p>
    </div>
    <div class="col-lg-5 offset-lg-1 overflow-hidden">
      <div class="row">
        <div class="col-sm-6 mb-lg-4 mb-3 pb-lg-2">
          <div class="d-flex align-items-center">
            <img class="me-3" src="/static/assets/img/somafix/SOMAFIXSAUDE.png" width="75" alt="Clutch">
            <div>
              <p class="mb-0 fs-sm">SomaFixSaude Gestao</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-lg-4 mb-3 pb-lg-2">
          <div class="d-flex align-items-center">
            <img class="me-3" src="/static/assets/img/somafix/SOMAFIXACADEMIC.png" width="75" alt="UpCity">
            <div>
              <p class="mb-0 fs-sm">SomaFixAcademic</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-lg-4 mb-3 pb-lg-2">
          <div class="d-flex align-items-center">
            <img class="me-3" src="/static/assets/img/somafix/SOMAFIXFATURAS.png" width="75" alt="Forbes Agency Council">
            <div>
              <p class="mb-0 fs-sm">SomaFixNegocio</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-lg-4 mb-3 pb-lg-2">
          <div class="d-flex align-items-center">
            <img class="me-3" src="/static/assets/img/somafix/SOMAGRO.png" width="75" alt="Top Developers">
            <div>
              <p class="mb-0 fs-sm">SomaFixAgroNegocios</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Brands -->
<section class="container mt-md-4 pt-lg-6 pt-5 pb-4 px-0">
  <div class="tns-carousel-wrapper">
    <div class="tns-carousel-inner" data-carousel-options='{
      "nav": false,
      "controls": false,
      "autoplay": true,
      "autoplayTimeout": 4000,
      "responsive": {
        "0": {
          "items": 2
        },
        "576": {
          "items": 3
        },
        "768": {
          "items": 4
        },
        "992": {
          "items": 5
        },
        "1200": {
          "items": 6
        }
      }
    }'>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/wisecat.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/wisecat-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/lovato.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/lovato-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/bassett-furniture.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/bassett-furniture-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/curtis.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/curtis-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/orbis.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/orbis-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/gabor.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/gabor-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="px-3 text-center">
        <a href="index.html#" class="swap-image">
          <img src="/static/assets/img/seo-agency/logo/exxon.svg" class="swap-to" width="120" alt="Brand logo hover">
          <img src="/static/assets/img/seo-agency/logo/exxon-g.svg" class="swap-from" width="120" alt="Brand logo">
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Shaped bg -->
<div class="bg-repeat-0 bg-position-center bg-size-contain" style="background-image: url(/static/assets/img/seo-agency/shapes/stroke/01.svg)">


  <!-- About -->
  <section class="pt-lg-6 pt-5 pb-md-5 pb-6 bg-repeat-0 bg-position-center-start" style="background-image: url(/static/assets/img/seo-agency/shapes/fill/01.svg)">
    <div class="container py-md-5 pb-4">
      <div class="row align-items-center">
        {% for logotipo in logotipos %}
        <div class="col-lg-4 col-md-6 order-md-1 order-2">
          <h2 class="h1 mb-md-4 mb-3 pb-md-3">{{ logotipo.nametitle }}</h2>
          <p class="mb-md-5 text-muted">{{ logotipo.sobresglass }}</p>
          <a href="about" class="btn btn-primary">Saiba Mais</a>
        </div>
        {% endfor %}
        <div class="col-lg-7 offset-lg-1 col-md-6 order-md-2 order-1 mb-md-0 mb-4">
          <img class="rounded" src="/static/assets/img/seo-agency/home/about.jpg" alt="About">
        </div>
      </div>
    </div>
  </section>



<!-- Shaped bg -->
<div class="bg-repeat-0 bg-position-center-bottom bg-size-contain" style="background-image: url(/static/assets/img/seo-agency/shapes/stroke/02.svg)">


  <!-- Benefits -->
  <section class="container mt-md-4 pt-lg-6 pt-5 pb-4">
    <h2 class="h1 mb-md-5 pb-2 text-center">Os nossos benefícios</h2>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-11 d-flex flex-column order-md-1 order-2">
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/01.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Especialistas em Publicidade Social</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/02.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Campanhas focadas no ROI</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/03.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Relatório mensal</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-7 col-9 align-self-center order-md-2 order-1 mb-md-0 mb-grid-gutter pb-md-0 pb-2 px-md-0 px-sm-5">
        <div class="parallax mx-auto">
          <div class="parallax-layer" data-depth="0.05"><img src="/static/assets/img/seo-agency/home/benefits/illustration/01.png" alt="Layer-1"></div>
          <div class="parallax-layer" data-depth="0.1"><img src="/static/assets/img/seo-agency/home/benefits/illustration/02.svg" alt="Layer-2"></div>
          <div class="parallax-layer" data-depth="0.13"><img src="/static/assets/img/seo-agency/home/benefits/illustration/03.svg" alt="Layer-3"></div>
          <div class="parallax-layer" data-depth="0.16"><img src="/static/assets/img/seo-agency/home/benefits/illustration/04.svg" alt="Layer-4"></div>
          <div class="parallax-layer" data-depth="0.19"><img src="/static/assets/img/seo-agency/home/benefits/illustration/05.svg" alt="Layer-5"></div>
          <div class="parallax-layer" data-depth="0.21"><img src="/static/assets/img/seo-agency/home/benefits/illustration/06.svg" alt="Layer-6"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-11 d-flex flex-column order-md-3 order-3">
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/04.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Serviço ao Cliente de Qualidade</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/05.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Transparência completa do SEO</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
        <div class="card card-hover h-100 mb-sm-4 mb-md-3 mb-grid-gutter py-3 text-center">
          <div class="card-body px-lg-5 px-3">
            <img class="mb-3" src="/static/assets/img/seo-agency/home/benefits/06.svg" width="40" alt="Icon box image">
            <h3 class="h5 mb-2">Somos um verdadeiro parceiro</h3>
            <p class="mb-0 fs-sm text-muted"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div> <!-- / Shaped bg -->

{% endblock %}
