aniso8601
arabic-reshaper
asgiref
asn1crypto
autopep8
Brotli
certifi
cffi
chardet
charset-normalizer
click
coverage
cryptography
cssselect2
dateparser
decorator
decouple
defusedxml
dj-database-url
Django
django-audit-log
django-cors-headers
django-crispy-forms
django-cryptapi
django-debug-toolbar
django-discover-runner
django-extensions
django-filter
django-model-utils
django-rest-framework
django-role-permissions
django-taggit
djangorestframework
fake-factory
fonttools
future
graphene 
graphql-core
graphql-relay
greenlet
html5lib==1.1
idna==3.4
import-export==0.3.1
install==1.3.5
jet-bridge-base==1.3.0
jet-django==1.4.3
lxml==4.9.2
Markdown==3.4.1
model-mommy==2.0.0
mysqlclient==2.1.1
numpy==1.23.5
oauthlib==3.2.2
oscrypto==1.3.0
panda==0.3.1
Pillow==9.3.0
promise==2.3
prompt-toolkit==2.0.9
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pycparser==2.21
pydyf==0.5.0
pyHanko==0.15.1
pyhanko-certvalidator==0.19.7
PyJWT==2.6.0
PyPDF3==1.0.6
pyphen==0.13.2
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
Python-Rest-Framework==0.3.14
python3-openid==3.2.0
pytz==2022.6
pytz-deprecation-shim
PyYAML
qrcode
regex
reportlab
requests
requests-oauthlib=
Rx
six
social-auth-core
SQLAlchemy
sqlparse
stripe
svglib
text-unidecode
tinycss2
tomli
tqdm
tzdata
tzlocal
Unidecode
uritools
urllib3
wcwidth
weasyprint
webencodings
whitenoise
xhtml2pdf
zopfli