            <!-- Product card: Basic example-->
            <!-- Page title-->
            <div class="border-bottom pt-5 mt-2 mb-5">
              <h1 class="mt-2 mt-md-4 mb-3 pt-5"></h1>
              <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                <p class="text-muted"></p>
                <div class="ps-md-4 mb-3">
                <span class="badge bg-success"></span>
              </div>
            </div>
          </div>
<div class="content-section">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
          <!-- Sign in form -->
            <div class="view show" id="modal-signin-view">
              <div class="modal-header border-0 pb-0 px-md-5 px-4 d-block position-relative">
                <h3 class="modal-title mt-4 mb-0 text-center">Add Products</h3>
            </div>
              <div class="modal-body px-md-5 px-4">

                {% include '_messages.html' %}
                <form class="needs-validation" method="POST" novalidate>
                {{ form.hidden_tag() }}
                  <fieldset class="form-group">


                  <div class="mb-4">
                    {{ form.name.label(class="form-label-lg") }}
                      {% if form.name.errors %}
                      {{ form.name( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.name( class="form-control" ) }}
                      {% endif %}
                  </div>

                  <div class="mb-4">
                    {{ form.price.label(class="form-label-lg") }}
                      {% if form.price.errors %}
                      {{ form.price( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.price( class="form-control" ) }}
                      {% endif %}
                  </div>

                  <div class="mb-4">
                    {{ form.discount.label(class="form-label-lg") }}
                      {% if form.discount.errors %}
                      {{ form.discount( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.discount.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.discount( class="form-control" ) }}
                      {% endif %}
                  </div>

                  <div class="mb-4">
                    {{ form.stock.label(class="form-label-lg") }}
                      {% if form.stock.errors %}
                      {{ form.stock( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.stock.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.stock( class="form-control" ) }}
                      {% endif %}
                  </div>

                <div class="mb-4">
                  <label for="brand">Add a brand</label>
                    <select class="form-control" name="brand" id="brand" required>
                      <option value="">select A Brand</option>
                        {% for brand in brands %}
                        <option value="brand.id">{{brand.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                  <label for="brand">Add a category</label>
                    <select class="form-control" name="category" id="category" required>
                      <option value="">select A Brand</option>
                        {% for Category in categories %}
                        <option value="category.id">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                  <div class="mb-4">
                    {{ form.colors.label(class="form-label-lg") }}
                      {% if form.colors.errors %}
                      {{ form.colors( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.colors.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.colors( class="form-control" ) }}
                      {% endif %}
                  </div>

                  <div class="mb-4">
                    {{ form.discription.label(class="form-label-lg") }}
                      {% if form.discription.errors %}
                      {{ form.discription( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.discription.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.discription( class="form-control" ) }}
                      {% endif %}
                  </div>

                  <div class="mb-4">
                    {{ form.images_1.label(class="form-label-lg") }}
                      {% if form.images_1.errors %}
                      {{ form.discription( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.images_1.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.images_1( class="form-control" ) }}
                      {% endif %}
                  </div>
                  <div class="mb-4">
                    {{ form.images_2.label(class="form-label-lg") }}
                      {% if form.images_2.errors %}
                      {{ form.images_2( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.images_2.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.images_2( class="form-control" ) }}
                      {% endif %}
                  </div>
                  <div class="mb-4">
                    {{ form.images_3.label(class="form-label-lg") }}
                      {% if form.images_3.errors %}
                      {{ form.images_3( class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                          {% for error in form.images_3.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                      {{ form.images_3( class="form-control" ) }}
                      {% endif %}
                  </div>
                </fieldset>
                  {{ form.submit( class="btn btn-primary btn-hover-shadow d-block w-100" ) }}
                </form>
              </div>
            </div>
        </div>
      </div>
</div>
