{% extends "/documentacions/bases.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<div class="content-section">
        <fieldset class="form-group">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content border-0">
                <!-- Sign in form -->
                  <div class="view show" id="modal-signin-view">
                    <div class="modal-header border-0 pb-0 px-md-5 px-4 d-block position-relative">
                      <h3 class="modal-title mt-4 mb-0 text-center">GlassMirror</h3>
                  </div>
                    <div class="modal-body px-md-5 px-4">
                      <p class="fs-sm text-muted text-center">Seja Bem Vindo</p>
                      {% include '_messages.html' %}
                      <form class="needs-validation" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="mb-4">
                          {{ form.username.label(class="form-label-lg") }}
                            {% if form.username.errors %}
                            {{ form.username( class="form-control form-control-lg is-invalid", style="height: 1%;" ) }}
                              <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                            {% else %}
                            {{ form.username( class="form-control", style="height: 1%;"  ) }}
                            {% endif %}
                        </div>

                        <div class="mb-4">
                          {{ form.email.label(class="form-label-lg") }}
                            {% if form.email.errors %}
                            {{ form.email( class="form-control form-control-lg is-invalid", style="height: 1%;"  ) }}
                              <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                            {% else %}
                            {{ form.email( class="form-control", style="height: 1%;"  ) }}
                            {% endif %}
                        </div>

                        <div class="mb-4">
                          {{ form.password.label(class="form-label-lg") }}
                            {% if form.password.errors %}
                            {{ form.password( class="form-control form-control-lg is-invalid", style="height: 1%;"  ) }}
                              <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                            {% else %}
                            {{ form.password( class="form-control", style="height: 1%;"  ) }}
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                              <input class="password-toggle-check" type="checkbox">
                              <span class="password-toggle-indicator"></span>
                            </label>
                            {% endif %}
                        </div>

                        <div class="mb-4">
                          {{ form.confirm_password.label(class="form-label-lg") }}
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password( class="form-control form-control-lg is-invalid", style="height: 1%;"  ) }}
                              <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                            {% else %}
                            {{ form.confirm_password( class="form-control", style="height: 1%;"  ) }}
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                              <input class="password-toggle-check" type="checkbox">
                              <span class="password-toggle-indicator"></span>
                            </label>
                            {% endif %}
                        </div>
                        {{ form.submit( class="btn btn-primary btn-hover-shadow d-block w-100", style="height: 1%;"  ) }}
                        <p class="fs-sm pt-4 mb-0">Already have an account?
                          <a href="{{ url_for('auth.login') }}" class="fw-bold text-decoration-none" >Sign in</a>
                        </p>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
    </fieldset>
</div>

{% endblock content %}


<!-- Sign in modal-->
