
{% extends "baseEcomceClient.html" %} {% block title %}Conta Cliente{% endblock %}
{% block content %}
          <!-- Content -->
          <div class="col-lg-8 ms-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-4">
              <h1 class="h2 mb-0">My reviews</h1>
              <div class="d-flex align-items-center">
                <label for="sort-orders" class="d-none d-sm-block flex-shrink-0 fw-bold me-2 pe-1">Sort by</label>
                <select id="sort-orders" class="form-select">
                  <option>Newest</option>
                  <option>Oldest</option>
                  <option>High rating</option>
                  <option>Low rating</option>
                </select>
              </div>
            </div>

            <!-- Review -->
            <div class="mb-4 pb-4 border-bottom">
              <p>
                <span class="text-muted me-1">For:</span>
                <a href="shop-single.html" class="fw-bold text-decoration-none">Chrono watch with blue leather belt</a>
              </p>
              <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                  <h3 class="mb-2 fs-lg">Annette Black</h3>
                  <span class="d-block mb-3 fs-sm text-muted">3 days ago</span>
                  <div class="mt-n1 star-rating">
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="mb-3">Vel velit pulvinar montes, sit rhoncus odio molestie. Venenatis nunc fames ut proin adipiscing sit. Etiam egestas elit varius a, vestibulum bibendum nibh sociis in. Ut facilisis sit eget cum fringilla. Dapibus mauris viverra est sed risus quam lacinia.</p>
                  <div class="d-flex justify-content-end">
                    <a class="nav-link me-3 p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-like me-2 fs-base align-middle mt-n1 text-success"></i>
                      2
                    </a>
                    <a class="nav-link p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-dislike me-2 fs-base align-middle mt-n1 text-danger"></i>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Review -->
            <div class="mb-4 pb-4 border-bottom">
              <p>
                <span class="text-muted me-1">For:</span>
                <a href="shop-single.html" class="fw-bold text-decoration-none">Modal-blend trenchcoat</a>
              </p>
              <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                  <h3 class="mb-2 fs-lg">Annette Black</h3>
                  <span class="d-block mb-3 fs-sm text-muted">November 29, 2020</span>
                  <div class="mt-n1 star-rating">
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="mb-3">Amet ut augue dignissim lorem. Diam volutpat porttitor vel, pulvinar semper. Faucibus vel accumsan mi diam magna. Nunc diam lorem semper rhoncus in ut. Quis risus viverra bibendum eu.</p>
                  <div class="d-flex justify-content-end">
                    <a class="nav-link me-3 p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-like me-2 fs-base align-middle mt-n1 text-success"></i>
                      5
                    </a>
                    <a class="nav-link p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-dislike me-2 fs-base align-middle mt-n1 text-danger"></i>
                      1
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Review -->
            <div class="mb-4 pb-4 border-bottom">
              <p>
                <span class="text-muted me-1">For:</span>
                <a href="shop-single.html" class="fw-bold text-decoration-none">Denim shorts</a>
              </p>
              <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                  <h3 class="mb-2 fs-lg">Annette Black</h3>
                  <span class="d-block mb-3 fs-sm text-muted">November 5, 2020</span>
                  <div class="mt-n1 star-rating">
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="mb-3">Et, enim pellentesque ut malesuada interdum. Id odio proin molestie ac tellus ornare lectus amet semper. Bibendum non nulla leo pharetra, mi ultrices proin rhoncus diam.</p>
                  <div class="d-flex justify-content-end">
                    <a class="nav-link me-3 p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-like me-2 fs-base align-middle mt-n1 text-success"></i>
                      0
                    </a>
                    <a class="nav-link p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-dislike me-2 fs-base align-middle mt-n1 text-danger"></i>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Review -->
            <div class="mb-4 pb-4 border-bottom">
              <p>
                <span class="text-muted me-1">For:</span>
                <a href="shop-single.html" class="fw-bold text-decoration-none">Check coat with color contrast</a>
              </p>
              <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                  <h3 class="mb-2 fs-lg">Annette Black</h3>
                  <span class="d-block mb-3 fs-sm text-muted">October 13, 2020</span>
                  <div class="mt-n1 star-rating">
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                    <i class="sr-star ci-star-filled active"></i>
                  </div>
                </div>
                <div class="col">
                  <p class="mb-3">Eu duis ac, faucibus et egestas morbi elementum urna in. Feugiat natoque vestibulum, augue nisi. Vulputate vitae felis quis mauris morbi massa ut. Dolor in amet volutpat facilisi luctus duis mauris.</p>
                  <div class="d-flex justify-content-end">
                    <a class="nav-link me-3 p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-like me-2 fs-base align-middle mt-n1 text-success"></i>
                      9
                    </a>
                    <a class="nav-link p-0 fs-sm" href="account-reviews.html#">
                      <i class="ci-dislike me-2 fs-base align-middle mt-n1 text-danger"></i>
                      2
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <!-- Load more btn -->
            <div class="text-center pt-4 pb-sm-2 mt-3">
              <button class="btn btn-lg btn-link load-more-btn p-0 text-decoration-none" type="button">
                <i class="ci-arrow-convert mt-n1 me-3 align-middle"></i>
                Load more
              </button>
            </div>
          </div>
{% endblock content %}
