{% extends "/documentacions/homebase.html" %}
{% block content %}
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5"></h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted"></p>
    <div class="ps-md-4 mb-3">
    <span class="badge bg-success"></span>
  </div>
</div>
<!--==========END NAVBAR ==============-->
<!--==========END NAVBAR ==============-->

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center bg-info p-2 h4">Add a product</div>
                {% from "_formhelpers.html" import render_field %}
                <form method="post" enctype="multipart/form-data">
                <div>
                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.price, class="form-control") }}
                    {{ render_field(form.discount, class="form-control") }}
                    {{ render_field(form.stock, class="form-control") }}
                    <label for="brand">Add a brand</label>
                    <select name="brand" id="brand" class="form-control" required>
                        {% if getproduct %}
                        <option value="{{getproduct.brand_id}}" style="display: none;">{{getproduct.brand.name}}</option>
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.name}}</option>
                        {% endfor %}
                       {% else %}
                     <option value=""> Select A brand</option>
                     {% for brand in brands %}
                     <option value="{{brand.id}}">{{brand.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>

                    <label for="category">Add a category</label>
                    <select name="category" id="category" class="form-control" required>
                    {% if getproduct %}
                      <option value="{{getproduct.category_id}}" style="display: none;">{{getproduct.category.name}}</option>
                      {% for category in categories %}
                      <option value="{{category.id}}">{{category.name}}</option>
                      {% endfor %}
                     {% else %}
                     <option value=""> Select A category</option>
                     {% for category in categories %}
                     <option value="{{category.id}}">{{category.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>

                    {{ render_field(form.colors, class="form-control") }}
                    {{ render_field(form.discription, class="form-control", rows="10") }}
                </div>
                <div class="container">
                    <div class="row">
                        {% if getproduct %}
                        <div class="col-md-4"> <input type="file" name="image_1" id="image_1">
                            <a href="{{url_for('static',filename='assets/img/ecommerce/shop/' + getproduct.image_1)}}"> assets/img/ecommerce/shop/{{ getproduct.image_1}}</a>
                        </div>
                        <div class="col-md-4"><input type="file" name="image_2" id="image_2">
                            <a href="{{url_for('static',filename='assets/img/ecommerce/shop/' + getproduct.image_2)}}"> assets/img/ecommerce/shop/{{ getproduct.image_2}}</a>
                        </div>

                        <div class="col-md-4"><input type="file" name="image_3" id="image_3">
                            <a href="{{url_for('static',filename='assets/img/ecommerce/shop/' + getproduct.image_3)}}"> assets/img/ecommerce/shop/{{ getproduct.image_3}}</a>
                        </div>

                        {% else %}
                        <div class="col-md-4">{{ render_field(form.image_1, class="form-control" ) }}</div>
                        <div class="col-md-4">{{ render_field(form.image_2, class="form-control" ) }}</div>
                        <div class="col-md-4">{{ render_field(form.image_3, class="form-control" ) }}</div>
                        {% endif %}
                    </div>
                </div>
                <p><input type="submit" value="{% if getproduct %}Update {% else %}Add{% endif %} product" class="btn btn-primary d-block w-100" style="height: 1%">
                </form>
            </div>
      <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}
