{% extends "base.html" %} {% block title %}Saiba + Sobre Nos{% endblock %}
{% block content %}
      <!-- Page title-->
      <section class="py-md-6 py-5 bg-dark jarallax" data-jarallax data-speed="0.6">
        <div class="container mt-5 py-lg-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-alt breadcrumb-light justify-content-center mb-sm-4">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="ci-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Quem somos</li>
            </ol>
          </nav>
          <h1 class="display-1 text-center text-light">Quem somos</h1>
          <p class="mx-auto mb-lg-6 mb-sm-5 pb-3 lead text-center text-light opacity-60" style="max-width: 810px;">Nossa agência atua com sucesso em marketing digital desde 2018. Temos orgulho em oferecer-lhe qualidade e serviço exemplar. Ajudamos nossos clientes a obter melhores resultados com nossa abordagem criativa e baseada em dados para publicidade online.</p>
          <div class="d-flex flex-md-row flex-column justify-content-between">
            <div class="d-flex flex-lg-row flex-column align-items-center mb-md-0 mb-4 px-lg-0 px-sm-5 px-4 pb-md-0 pb-2 text-lg-start text-center">
              <img src="/static/assets/img/seo-agency/home/hero/directions/01.svg" alt="SEO Content Strategy" class="me-lg-3 mb-lg-0 mb-3">
              <div class="ps-lg-1">
                <h5 class="mb-0 text-light">SEO Content Strategy</h5>
              </div>
            </div>
            <span class="divider-vertical divider-light d-md-block d-none"></span>
            <div class="d-flex flex-lg-row flex-column align-items-center mb-md-0 mb-4 px-lg-0 px-sm-5 px-4 pb-md-0 pb-2 text-lg-start text-center">
              <img src="/static/assets/img/seo-agency/home/hero/directions/02.svg" alt="SEO Content Strategy" class="me-lg-3 mb-lg-0 mb-3">
              <div class="ps-lg-1">
                <h5 class="mb-0 text-light">Content Marketing</h5>
              </div>
            </div>
            <span class="divider-vertical divider-light d-md-block d-none"></span>
            <div class="d-flex flex-lg-row flex-column align-items-center mb-md-0 mb-4 px-lg-0 px-sm-5 px-4 pb-md-0 pb-2 text-lg-start text-center">
              <img src="/static/assets/img/seo-agency/home/hero/directions/03.svg" alt="SEO Content Strategy" class="me-lg-3 mb-lg-0 mb-3">
              <div class="ps-lg-1">
                <h5 class="mb-0 text-light">Website &amp; Social Media Marketing</h5>
              </div>
            </div>
          </div>
        </div>

        <!-- Parallax bg -->
        <div class="jarallax-img bg-repeat-0 bg-dark opacity-50" style="background-image: url(/static/assets/img/seo-agency/about/page-title-bg.jpg);"></div>
      </section>


      <!-- Page content -->
      <!-- Shaped bg -->
      <div class="jarallax" data-jarallax data-speed="0.8">


        <!-- Parallax bg -->
        <div class="jarallax-img bg-repeat-0" style="background-image: url(/static/assets/img/seo-agency/shapes/stroke/06.svg);"></div>
        <!-- Core values -->
        <section class="mt-md-4 pt-lg-6 pt-5 pb-md-6 pb-sm-5 pb-4 bg-repeat-0 bg-position-center-end bg-size-contain" style="background-image: url(/static/assets/img/seo-agency/shapes/fill/03.svg);">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <h2 class="h1 mb-5 text-sm-start text-center">Nossos valores fundamentais</h2>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-sm-6 mb-5">
                    <div class="text-sm-start text-center">
                      <img class="mb-4" src="/static/assets/img/seo-agency/about/icons/01.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2">Respeito</h3>
                      <p class="mb-0 text-muted"></p>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5">
                    <div class="text-sm-start text-center">
                      <img class="mb-4" src="/static/assets/img/seo-agency/about/icons/02.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2">Transparência</h3>
                      <p class="mb-0 text-muted"></p>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5">
                    <div class="text-sm-start text-center">
                      <img class="mb-4" src="/static/assets/img/seo-agency/about/icons/03.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2">Compromisso</h3>
                      <p class="mb-0 text-muted"></p>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-5">
                    <div class="text-sm-start text-center">
                      <img class="mb-4" src="/static/assets/img/seo-agency/about/icons/04.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2">Cooperação</h3>
                      <p class="mb-0 text-muted"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Collage -->
        <section class="container pt-lg-6 pt-5 pb-4">
          <div class="row">
            <div class="col-md-3 d-md-block d-flex" data-jarallax-element="-10" data-disable-parallax-down="md">
              <div class="mb-md-grid-gutter me-md-0 me-grid-gutter">
                <img src="/static/assets/img/seo-agency/about/collage/01.jpg" alt="Photo 1" class="d-block rounded">
              </div>
              <div>
                <img src="/static/assets/img/seo-agency/about/collage/02.jpg" alt="Photo 2" class="d-block rounded">
              </div>
            </div>
            <div class="col-md-4 col-6 mt-sm-n5 mt-n4" data-jarallax-element="15" data-disable-parallax-down="md">
              <img src="/static/assets/img/seo-agency/about/collage/03.jpg" alt="Photo 3" class="d-block rounded">
            </div>
            <div class="col-md-5 col-6 align-self-end mt-md-0 mt-sm-n5 mt-n4" data-jarallax-element="-10" data-disable-parallax-down="md">
              <img src="/static/assets/img/seo-agency/about/collage/04.jpg" alt="Photo 4" class="d-block rounded">
            </div>
            <div class="col-md-8 col-10 mt-md-n6 mt-sm-n5 mt-n4 mx-auto rounded bg-light shadow-sm" data-jarallax-element="-15" data-disable-parallax-down="md">
              <div class="py-5 px-sm-5 px-4">
                <h2>Mais do que agência de Negócio</h2>
                <p class="mb-0 text-muted"></p>
              </div>
            </div>
          </div>
        </section>
      </div> <!-- / Shaped bg -->


      <!-- Awards alt (with illustration) -->
      <section class="container mt-md-4 pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-4 col-6 mx-auto mb-sm-0 mb-grid-gutter">
            <div class="parallax mx-auto">
              <div class="parallax-layer" data-depth="0.05">
                <img src="{{ url_for('static', filename = 'assets/img/seo-agency/about/awards/illustration/01.png') }}" alt="Layer-1">
              </div>

              <div class="parallax-layer" data-depth="0.15">
                <img src="{{ url_for('static', filename = 'assets/img/seo-agency/about/awards/illustration/02.svg') }}" alt="Layer-2">
              </div>

              <div class="parallax-layer" data-depth="0.1">
                <img src="{{ url_for('static', filename = 'assets/img/seo-agency/about/awards/illustration/03.svg') }}" alt="Layer-3">
              </div>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-1 col-md-9 col-sm-8">
            <h2 class="h1 mb-lg-5 pb-md-3 text-sm-start text-center">Estamos orgulhosos de nossos prêmios</h2>
            <p class="mb-lg-5 pb-md-3 mb-0 text-center">Softwares Licenciados Pela AGT</p>
            <div class="row">
              <div class="col-md-6 mb-4 pb-2">
                <div class="d-flex flex-sm-row flex-column align-items-center px-sm-0 px-3 text-sm-start text-center">
                  <img class="me-sm-3 mb-sm-0 mb-3" src="/static/assets/img/somafix/SOMAFIXSAUDE.png" width="75" alt="Clutch">
                  <div class="px-sm-0 px-4">
                    <p class="mb-0">SomaFix Gestão Hospitalar</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="d-flex flex-sm-row flex-column align-items-center px-sm-0 px-3 text-sm-start text-center">
                  <img class="me-sm-3 mb-sm-0 mb-3" src="/static/assets/img/somafix/SOMAFIXACADEMIC.png" width="75" alt="UpCity">
                  <div class="px-sm-0 px-4">
                    <p class="mb-0">SomaFix Academic</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="d-flex flex-sm-row flex-column align-items-center px-sm-0 px-3 text-sm-start text-center">
                  <img class="me-sm-3 mb-sm-0 mb-3" src="/static/assets/img/somafix/SOMAFIXFATURAS.png" width="75" alt="Forbes Agency Council">
                  <div class="px-sm-0 px-4">
                    <p class="mb-0">SomaFix Facturacao</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="d-flex flex-sm-row flex-column align-items-center px-sm-0 px-3 text-sm-start text-center">
                  <img class="me-sm-3 mb-sm-0 mb-3" src="/static/assets/img/somafix/SOMAGRO.png" width="75" alt="Top Developers">
                  <div class="px-sm-0 px-4">
                    <p class="mb-0">SomaFix AgroNegocio</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Shaped bg -->
      <div class="bg-repeat-0 bg-position-center bg-size-cover" style="background-image: url(../assets/img/seo-agency/shapes/stroke/07.svg);">
        <!-- Brands -->
        <section class="container mt-md-4 pt-lg-6 pt-5 pb-4 px-0">
          <h2 class="h1 mb-lg-5 pb-md-3 text-center">Nossos Colaboradores e Parceiros</h2>
          <div class="tns-carousel-wrapper">
            <div class="tns-carousel-inner" data-carousel-options='{
              "nav": false,
              "controls": false,
              "autoplay": true,
              "autoplayTimeout": 4000,
              "responsive": {
                "0": {
                  "items": 2
                },
                "576": {
                  "items": 3
                },
                "768": {
                  "items": 4
                },
                "992": {
                  "items": 5
                },
                "1200": {
                  "items": 6
                }
              }
            }'>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/wisecat.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/wisecat-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/lovato.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/lovato-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/bassett-furniture.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/bassett-furniture-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/curtis.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/curtis-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/orbis.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/orbis-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/gabor.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/gabor-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
              <div class="px-3 text-center">
                <a href="about.html#" class="swap-image">
                  <img src="/static/assets/img/seo-agency/logo/exxon.svg" class="swap-to" width="120" alt="Brand logo hover">
                  <img src="/static/assets/img/seo-agency/logo/exxon-g.svg" class="swap-from" width="120" alt="Brand logo">
                </a>
              </div>
            </div>
          </div>
        </section>
      </div> <!-- / Shaped bg -->
{% endblock content %}
