{% extends "baseEcomceClient.html" %} {% block title %}Conta Cliente{% endblock %}
{% block content %}
          <!-- Content -->
          <div class="col-lg-8 ms-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
              <h1 class="h2 mb-0">Recently viewed</h1>
              <a href="account-recently-viewed.html#" class="btn text-danger btn-link fs-base text-decoration-none pe-0">
                <i class="ci-delete fs-lg mt-n1 me-2"></i>
                Delete all
              </a>
            </div>
            <div class="row mx-n2">

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/15.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-top">
                      <span class="badge product-badge bg-danger">-20%</span>
                    </div>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Woman jeans shorts</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block text-danger mb-0">$20.00</span>
                      <del class="d-inline-block ms-2 ps-1 text-muted">$24.00</del>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex align-items-center mb-3">
                      <div class="mt-n1">
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-1-28" name="size-1">
                          <label for="s-1-28" class="form-option-label">28</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-1-30" name="size-1" checked>
                          <label for="s-1-30" class="form-option-label">30</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-1-32" name="size-1">
                          <label for="s-1-32" class="form-option-label">32</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-1-34" name="size-1">
                          <label for="s-1-34" class="form-option-label">34</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/05.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Check coat with color contrast</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0">$183.45</span>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex align-items-center mb-3">
                      <div class="mt-n1">
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-2-xl" name="size-2">
                          <label for="s-2-xl" class="form-option-label">XL</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-2-l" name="size-2" checked>
                          <label for="s-2-l" class="form-option-label">L</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-2-m" name="size-2">
                          <label for="s-2-m" class="form-option-label">M</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-2-s" name="size-2">
                          <label for="s-2-s" class="form-option-label">S</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/03.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-top">
                      <div class="star-rating ms-auto">
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star"></i>
                      </div>
                    </div>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Black and white sport cap</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0">$18.15</span>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/08.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Baby shoes with laces</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0">$30.75</span>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex align-items-center mb-3">
                      <div class="mt-n1">
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-3-7_5" name="size-3">
                          <label for="s-3-7_5" class="form-option-label">7.5</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-3-8" name="size-3" checked>
                          <label for="s-3-8" class="form-option-label">8</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-3-8_5" name="size-3">
                          <label for="s-3-8_5" class="form-option-label">8.5</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-3-9" name="size-3">
                          <label for="s-3-9" class="form-option-label">9</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/09.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-top">
                      <span class="badge product-badge bg-danger">-50%</span>
                      <div class="star-rating ms-auto">
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star"></i>
                      </div>
                    </div>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Basic hooded sweatshirt in pink</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block text-danger mb-0">$15.50</span>
                      <del class="d-inline-block ms-2 ps-1 text-muted">$31.00</del>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex align-items-center mb-2 pb-1">
                      <div class="mt-n1">
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-4-l" name="size-4" checked>
                          <label for="s-4-l" class="form-option-label">L</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-4-m" name="size-4">
                          <label for="s-4-m" class="form-option-label">M</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-4-s" name="size-4">
                          <label for="s-4-s" class="form-option-label">S</label>
                        </div>
                      </div>
                      <div class="ms-auto">
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-1" id="beige-1" value="Beige" checked>
                          <label class="form-option-label rounded-circle" for="beige-1">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #dead9c;"></span>
                          </label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-1" id="beige-2" value="Beige">
                          <label class="form-option-label rounded-circle" for="beige-2">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #7998d1;"></span>
                          </label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-1" id="beige-3" value="Beige">
                          <label class="form-option-label rounded-circle" for="beige-3">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #f4f4f4;"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-4 col-sm-6 px-2 mb-2 pb-4">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a href="shop-single.html" class="card-img-top">
                      <img src="../assets/img/ecommerce/shop/12.jpg" alt="Product image">
                    </a>
                    <div class="card-product-widgets-bottom">
                      <a href="account-recently-viewed.html#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                    </div>
                  </div>
                  <div class="card-body pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a href="shop-single.html" class="nav-link">Men fashion gray shoes</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0">$85.00</span>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex align-items-center mb-3">
                      <div class="mt-n1">
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-5-9_5" name="size-5">
                          <label for="s-5-9_5" class="form-option-label">7.5</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-5-10" name="size-5" checked>
                          <label for="s-5-10" class="form-option-label">8</label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-size form-check-inline mb-2">
                          <input type="radio" class="form-check-input" id="s-5-11" name="size-5">
                          <label for="s-5-11" class="form-option-label">8.5</label>
                        </div>
                      </div>
                      <div class="ms-auto">
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-2" id="beige-4" value="Beige" checked>
                          <label class="form-option-label rounded-circle" for="beige-4">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #7a898c;"></span>
                          </label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-2" id="beige-5" value="Beige">
                          <label class="form-option-label rounded-circle" for="beige-5">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #844a1a;"></span>
                          </label>
                        </div>
                        <div class="form-check form-option form-option-sm form-option-color form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color-2" id="beige-6" value="Beige">
                          <label class="form-option-label rounded-circle" for="beige-6">
                            <span class="form-option-color-indicator rounded-circle" style="background-color: #1c1c1c;"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary d-block w-100">
                      <i class="ci-cart align-middle mt-n1 me-2"></i>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endblock content %}
