{% extends "base.html" %} {% block title %}🛰Suporte Técnico👨‍💻💡{% endblock %}

{% block content %}
      <!-- Page title-->
      <section class="py-md-6 py-5 bg-dark jarallax" data-jarallax data-speed="0.6">
        <div class="container mt-5 py-lg-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-alt breadcrumb-light justify-content-center mb-sm-4">
              <li class="breadcrumb-item">
                <a href="">
                  <i class="ci-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="suporte">Suporte</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Assistencia Técnica</li>
            </ol>
          </nav>
          <h1 class="display-1 text-center text-light">🛰Suporte Técnico👨‍💻💡 🔎IPHONE & ANDROID🔍</h1>
          <p class="mx-auto mb-lg-6 mb-sm-5 pb-3 lead text-center text-light opacity-60" style="max-width: 810px;"> Sempre disponível Suporte 24/24 .</p>

          <div class="d-flex flex-md-row flex-column justify-content-center">
            {% for logotipo in logotipos %}
            <div class="d-flex flex-md-row flex-column align-items-center mb-md-0 mb-4 px-md-0 px-sm-5 px-4 pb-md-0 pb-2 text-md-start text-center">
              <i class="ci-chat me-md-2 mb-md-0 mb-3 text-primary" style="font-size: 40px;"></i>
              <div class="ps-md-1">
                <h6 class="mb-0 fs-sm text-light opacity-60">Fale conosco.</h6>
                <a href="mailto:{{logotipo.emailsglass}}" class="fs-lg text-decoration-none text-light">{{logotipo.emailsglass}}</a>
              </div>
            </div>
            <span class="divider-vertical divider-light d-md-block d-none mx-5"></span>
            <div class="d-flex flex-md-row flex-column align-items-center mb-md-0 mb-4 px-md-0 px-sm-5 px-4 pb-md-0 pb-2 text-md-start text-center">
              <i class="ci-iphone me-md-2 mb-md-0 mb-3 text-primary" style="font-size: 40px;"></i>
              <div class="ps-md-1">
                <h6 class="mb-0 fs-sm text-light opacity-60">Ligue para nós.</h6>
                <a href="tel:(+244){{logotipo.contactglass}}" class="fs-lg text-decoration-none text-light">{{logotipo.contactglass}}</a>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>

        <!-- Parallax bg -->
        <div class="jarallax-img bg-repeat-0 bg-dark opacity-50" style="background-image: url(/static/assets/img/seo-agency/about/careers/page-title-bg.jpg);"></div>
      </section>

      <!-- Page content -->
      <!-- Image + Text -->
      <section class="container pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-lg-5 order-lg-1 order-2" data-jarallax-element="-15" data-disable-parallax-down="md">
            <h2>Bloqueio de Tela</h2>
            <p class="mb-lg-5 pb-sm-4 pb-3 text-muted"></p>
            <a href="services-single.html" class="btn btn-outline-primary d-sm-inline-block d-block me-sm-4 mb-sm-4 mb-3">Whatsapp</a>
            <a href="" class="btn btn-primary d-sm-inline-block d-block mb-4">Telegram</a>
          </div>
          <div class="col-lg-7 order-lg-2 order-1 mb-lg-0 mb-4" data-jarallax-element="25" data-disable-parallax-down="md">
            <img src="static/images/screen_hero%20(1).webp" alt="Social Media Marketing">
          </div>
        </div>
      </section>


      <!-- Image + Text -->
      <section class="container pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-lg-0 mb-4" data-jarallax-element="-40" data-disable-parallax-down="md">
            <img src="static/images/ios-unlock-en.0af3ef7.webp" alt="Search Engine Optimization">
          </div>
          <div class="col-lg-5" data-jarallax-element="40" data-disable-parallax-down="md">
            <h2>Tela do iTunes</h2>
            <p class="mb-lg-5 pb-sm-4 pb-3 text-muted">.</p>
            <a href="services-single.html" class="btn btn-outline-primary d-sm-inline-block d-block me-sm-4 mb-sm-4 mb-3">Whatsapp</a>
            <a href="" class="btn btn-primary d-sm-inline-block d-block mb-4">Telegram</a>
          </div>
        </div>
      </section>


      <!-- Image + Text -->
      <section class="container pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-lg-5 order-lg-1 order-2" data-jarallax-element="-15" data-disable-parallax-down="md">
            <h2>Tela Hello</h2>
            <p class="mb-lg-5 pb-sm-4 pb-3 text-muted">.</p>
            <a href="services-single.html" class="btn btn-outline-primary d-sm-inline-block d-block me-sm-4 mb-sm-4 mb-3">Whatsapp</a>
            <a href="" class="btn btn-primary d-sm-inline-block d-block mb-4">Telegram</a>
          </div>
          <div class="col-lg-7 order-lg-2 order-1 mb-lg-0 mb-4" data-jarallax-element="25" data-disable-parallax-down="md">
            <img src="static/images/img_bypass_icloud.png" alt="Research Service">
          </div>
        </div>
      </section>


      <!-- Image + Text -->
      <section class="container pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-lg-0 mb-4" data-jarallax-element="-40" data-disable-parallax-down="md">
            <img src="../assets/img/seo-agency/services/04.jpg" alt="Content &amp; PR Service">
          </div>
          <div class="col-lg-5" data-jarallax-element="40" data-disable-parallax-down="md">
            <h2>Reparacao de Rede iPhone e Android</h2>
            <p class="mb-lg-5 pb-sm-4 pb-3 text-muted">.</p>
            <a href="services-single.html" class="btn btn-outline-primary d-sm-inline-block d-block me-sm-4 mb-sm-4 mb-3">Whatsapp</a>
            <a href="" class="btn btn-primary d-sm-inline-block d-block mb-4">Telegram</a>
          </div>
        </div>
      </section>


      <!-- Image + Text -->
      <section class="container pt-lg-6 pt-5 pb-4">
        <div class="row align-items-center">
          <div class="col-lg-5 order-lg-1 order-2" data-jarallax-element="-15" data-disable-parallax-down="md">
            <h2>Actualizacoes</h2>
            <p class="mb-lg-5 pb-sm-4 pb-3 text-muted">.</p>
            <a href="services-single.html" class="btn btn-outline-primary d-sm-inline-block d-block me-sm-4 mb-sm-4 mb-3">Whatsapp</a>
            <a href="" class="btn btn-primary d-sm-inline-block d-block mb-4">Telegram</a>
          </div>
          <div class="col-lg-7 order-lg-2 order-1 mb-lg-0 mb-4" data-jarallax-element="25" data-disable-parallax-down="md">
            <img src="static/images/ios-16-large_2x%20(1).webp" alt="Paid Traffic Management">
          </div>
        </div>
      </section>


      <!-- Page content -->


{% endblock %}
