{% extends "base.html" %}
{% block content %}
    <!-- Hero -->
    <section class="position-relative mb-md-5 py-lg-0 py-md-5 py-5" style="background-image: url(assets/img/intro/hero/bg.jpg); background-color: #dce0e9;">

      <div class="container-fluid pe-lg-0 jarallax" data-jarallax data-type="scale-opacity" data-speed="0.25">
        <div class="row g-0">
          <!-- Content -->
          <div class="col-md-5 order-md-1 order-2 align-self-center d-flex justify-content-lg-end justify-content-center mt-xl-n5 py-lg-6 text-md-start text-center">
            <div class="pb-3 py-md-6" style="max-width: 460px;">
              <h1 class="display-3 mb-lg-5">You don't have permission to do that <span class="text-primary">(4_3)</span>
              </h1>
              <div class="d-flex align-items-center justify-content-lg-start justify-content-center mb-sm-5 mb-4 pb-lg-4 pb-2">
                <p>Please check your account and try again</p>
              </div>
            </div>
          </div>
          <!-- Parallax elements -->
        </div>
        <!-- Parallax bg -->
        <div class="jarallax-img" style="background-image: url(assets/img/intro/hero/bg-shape.png);"></div>
      </div>
    </section>
{% endblock content %}
